
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Playfair+Display&family=Roboto&family=Roboto+Slab:wght@700&family=Source+Sans+Pro:wght@300&family=Ubuntu:wght@300&display=swap');
body {
  font-family: 'Averia Libre', display;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    display: flex;
    justify-content: center;
    height: 1500px;
    
    
}
.nav {
    display: flex;
    justify-content: center;
    height: 1355px;
    width: 750px;
    flex-wrap: wrap;
    
    
}
.sport {
    width: 200px;
    height: 200px;
    margin-top: 30px;
}

.two {
    margin-left: 160px;
    margin-right:  30px;
    width: 200px;
    height: 200px;
}
.card:not(.two) {
    margin-right: 160px;
}
.flex {
    margin-left: 158px;
    margin-top: 114px; 
    position: absolute;
    
    
}
.card {
    width: 200px;
    height: 200px;
    
}
.name {
    text-align: center;
    color: rgba(47, 79, 79, 1);
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto';
}
.number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background: white;
    border-radius: 50%;
    text-align: center;
    padding-top: 1px;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: bold;
    color: rgba(139, 0, 0, 1);
}
